:root {
    --clr-background: rgba(246, 196, 131, 0.867);
    --clr-1: #8C0712;
    --clr-2: #8C6927;
    --clr-3: rgb(228, 214, 188);
}


html {
    height: 100%;
}

body {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
    min-height: 100%;
    font-family: Oldenburg;
}

h1, h2, h3, h4, h5, h6, button {
    font-family: 'Oleo Script';
}

.custom-container {
    border: 1em solid transparent;
    border-radius: 1rem;
    background: var(--clr-background);
}

.custom-container-right {
    color: var(--clr-3);
}

.custom-container-right h3 {
    color: var(--clr-3);
}

.custom-number {
    color: var(--clr-2);
}
