:root {
    --clr-white: rgba(246, 196, 131, 0.867);
    --clr-1: #8C0712;
    --clr-2: #8C6927;
}


html {
    height: 100%;
}

body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    font-family: Oldenburg;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oleo Script';
}

.custom-container {
    border: 1em solid transparent;
    border-radius: 1rem;
    background: var(--clr-white);
}

.custom-container-right {
    color: var(--clr-1);
}

.custom-container-right h3 {
    color: var(--clr-1);
}
